body {
margin: 0;
background: #131313;
}

.header {
	width: 70%;
	border-bottom: 1px solid #272727;
	margin: 0 auto;
	overflow: auto;
}

.logo, .navigation, .navigation-item {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation {
	float: right;
	padding: 1rem 0;
	font-family: Montserrat;
	font-weight: 700;
	font-style: normal;
	font-size: 13px;
	line-height: 16px;
} 

.logo {
	float: left;
	padding: 1rem 0;
}

.navigation-item a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 0.5rem;
}

.div3 {
	color: white;
	padding: 5rem 15% 1rem 15%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 37px;
}

.table {
	padding: 0;
	color: white;
	border-collapse: separate;
	border-spacing: 1rem 0;
	border-color: black;
	margin: 0 15%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
}

.thead {
	width: 70%;
	border-bottom: 1px solid #272727;
}

.foot {
	width: 70%;
	margin: 0 auto;
}

.vector, .numb, .numb-item, .vector2 {
	display: inline-block;
	list-style: none;
	padding: 1rem 5px;
	margin: 0 1rem;
}

.numb {
	list-style: none;
}

.numb-item a {
	color: white;
	display: inline-block;
	text-decoration: none;
}